html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        //
          div
            | Error: Duplicate tournament URL
        div
          form(action='/createTournament', method='post')
            input(type='text', name='tournamentName', autofocus)
            button(class='btn', type='submit') Create Tournament
          form(action='/deleteTournaments', method='post')
            button(class='btn', type='submit') Delete Tournaments
        div
          table
            tbody
              each val, key in tournamentData
                tr
                  td
                    a(href="tournament?id=#{val.tournament.id}") #{val.tournament.name}