html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        div
          form(action='/createTournament',method='post')
            input(type='submit', value='Create Tournament', data-transition='fade', data-theme='c')
          form(action='/deleteTournaments',method='post')
            input(type='submit', value='Delete Tournaments', data-transition='fade', data-theme='c')
        div
          table
            tbody
              each val, key in tournamentData
                tr
                  td
                    a(href="tournament?id=#{val.tournament.id}") #{val.tournament.name} - #{val.tournament.id}
