html
  head
    script(language='Javascript', type='text/javascript', src='javascripts/jquery.js')
    script(language='Javascript', type='text/javascript', src='javascripts/jquery_functions.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background: lightblue url(images/dreamland.jpg); background-size: 100% 100%; background-repeat: no-repeat;')
    header
      div(class='row', style='background-color:#ff99cc')
        h1
          | Login
    nav
    br
    div(class='well col-md-offset-3 col-md-6')
      button(type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?") 
        | Click to toggle popover
      button(id='orgBool', type='button', class='btn btn-primary', data-toggle='button', aria-pressed='false', autocomplete='off')
        | Organization
      form(class='form-inline', role='form', action='/testCredentials', method='post') 
        div(class='form-group')
          input(class='form-control', type='text', name='usr', placeholder='Username' autofocus)
          input(id='orgField', class='form-control', type='text', name='org', placeholder='Organization', style='display:none')
          input(class='form-control', type='text', name='api_key', placeholder='API Key')
        button(class='btn', type='submit') Test Credentials!
