html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav      
        div
          form(action='/',method='get')
            input(type='hidden' name='action')
            input(type='submit', value='Back To Index', data-transition='fade', data-theme='c')
          form(action='/submit',method='post')
            input(type='hidden' name='action' value='deleteTournaments')
            input(type='submit', value='Delete Tournaments', data-transition='fade', data-theme='c')
        a(href="http://challonge.com/#{tournamentData.tournament.url}") Link to challonge page
